<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link th:href="@{/css/6.estilos_pagina_error_404.css}" rel="stylesheet" />
    <title>Error 403</title>
</head>

<body>
<div class="error_container">
    <div class="error_code">
        <p>4</p>
        <p>0</p>
        <p>3</p>
    </div>
    <div class="error_titulo">Acceso denegado</div>
    <div class="error_descripcion">
        Parece que no encontramos esta página o no tienes acceso.
    </div>
    <a th:href="@{/publicas/index}">
        <button class="btn btn-primary">Volver a inicio</button>
    </a>
</div>
</body>
</html>
