:root {
    --background-color: linear-gradient(90deg, #022c5c, #104585);
    --text-color: #022c5c;
    --iconos: #063163;
    --lineas: #adc8fa;
    --table-header: #f8f9fa;
    --table-hover: #f1f4f9;
    --border-color: #e9ecef;
}
/*TABLA*//* typography */
    .filtrar-usuarios{
    display: flex;
    height: 2rem;
    width: 100%;
    gap: 2rem;
    margin: 1rem;
        align-items: center;
    }
label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--text-color);
    margin-right: 0.5rem;
    align-items: center;
    display: flex;
    font-size: 1rem;
}

.btnfiltro{
    height: 3rem;
    margin: 2px;
    }
